#zone1
{
    font-family:'Roboto Mono';
    background-color: antiquewhite;
    border: 5px solid brown;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 20px;
    padding: 20px;
}
h1
{
    color: rgb(18, 71, 139);
    font-size: 3em;
    text-align: center;
}
h3
{
    color: rgb(13, 87, 11);
    font-size: 0.8em;
}
.mini-title
{
    font-weight: bold;
}
.main-list li
{
    list-style-type: none;
    text-align: center;
}
a
{
    text-decoration: none;
    color: brown;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}
a:hover
{
    color: rgb(83, 14, 14);
}
img
{
    border: solid brown 5px;
    border-radius: 20px;
}
.back 
{
    text-decoration: underline;
}